doctype html
html(lang=CHART_LANGUAGE)
  head
    meta(charset="UTF-8")
    meta(name="robots", content=META_ROBOTS)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme", content="light dark")
    link(rel="stylesheet", id="css-light", media="(prefers-color-scheme: light)", href!=CSS)
    link(rel="stylesheet", id="css-dark", media="(prefers-color-scheme: dark)", href!=CSS_DARK)
    | !{CHART_HEAD}
    | !{CHART_HEAD}
    | !{CHART_HEAD}
    | !{CHART_AFTER_HEAD_HTML}

    script.
      var st = document.createElement('style');
      st.innerHTML = '* { opacity: 0 }';
      st.setAttribute('id', 'hide-all');
      document.head.appendChild(st);

  body
    div(class="dw-chart chart" class=CHART_CLASS id="__svelte-dw")
      | !{CHART_HTML}

    script.
      (function() {
        window.__DW_SVELTE_PROPS__ = JSON.parse(!{__DW_SVELTE_PROPS__});
      })();

    script(src=POLYFILL_SCRIPT)

    each src in SCRIPTS
      script(src=src)

    script.
      window.parent.postMessage('datawrapper:vis:reload', '*');

    script(src=CORE_SCRIPT)

    script.
      if (!window.dw || !window.dw.scriptLoaded) {
            const chart = document.querySelector('#chart');
            chart.innerHTML = "<img\
                        style='max-width: 100%'\
                        src='../plain.png'\
                        aria-hidden='true'\
                        alt='fallback image' />\
                        <p style='opacity:0.6;padding:1ex; text-align:center'>\
                            (Please use a modern browser to see the interactive version of this visualization)\
                        </p>";
      }
